* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
li {
    list-style: none;
}

.container {
    width: 100%;
    max-width: 1440px;
    padding: 0 25px;
    margin: 0 auto;
}

body {
    font-family: 'Roboto', sans-serif;
}

.navbar {
    width: 1440px;
    height: 72px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;

}

.navbar__content {
    display: flex;
    margin-left: 22px;
}

.navbar__menu {
    margin-left: 62px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #3C3B3D;
    text-align: center;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 160% */
    text-transform: capitalize;
    gap: 32px;

}

.navbar__text {
    margin-left: 577px;
    color: #0A6647;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 171.429% */
    text-transform: capitalize;
    color: #0A6647;
    width: 41px;
}

.navbar__btn {
    margin-left: 24px;
    width: 111px;
    height: 44px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 2px solid #0A6647;
    background: #0A6647;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 160% */
    text-transform: capitalize;
    padding: 10px 10px;
    margin-top: -10px;
}

.header {
    background-image: url(./img/header.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 740px;
    width: 1440px;
    padding-top: 167px;
}

.header__box {
    width: 470px;
    height: 406px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;

    margin-left: 125px;
    padding: 40px 50px;
}

.header__box__title {
    width: 362px;
    color: #124E3B;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
    /* 120% */
}

.header__box__text {
    width: 348px;
    color: #3C3B3D;

    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    margin-top: 22px;
}

.header__box__btn {
    width: 374px;
    height: 16px;
    flex-shrink: 0;

    border-radius: 4px;
    background: #F2CDCE;
    color: #0A0A0A;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.88px;
    /* 143% */
    margin-top: 70px;
    line-height: 16px;
    border: none;
}

.body {
    width: 1440px;
    height: 1028px;
    flex-shrink: 0;
    background-color: #e6e3d3;


}

.body__title {
    color: #3C3B3D;
    text-align: center;
    font-family: Roboto;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 55.88px;
    /* 127% */
    padding-top: 159px;
}

.body__text {
    width: 711px;

    color: #3C3B3D;

    text-align: center;
    font-family: Roboto;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 34.08px;
    /* 148.174% */
    margin-left: 385px;
    margin-top: 22px;
}

.body__cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 163px;
    gap: 66px;
    margin-top: 44px;
}

.body__cards__info {
    margin-left: 230px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 200px;
}

/* .info{

} */
.info h4 {
    font-size: 20px;
    margin-top: 50px;
    margin-left: 15px;
}

.info p {
    width: 200px;
    margin-top: 20px;
    text-align: center;
}

.boxes {
    display: flex;
    flex-direction: row;
    width: 1440px;
}

.box2 {
    display: flex;
    width: 840px;
    height: 672px;
    background-color: #124E3B;
    padding: 83px 120px;

}

.box1 {
    display: flex;

    width: 700px;

}

.box2__content h1 {
    color: #FFF;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
    /* 120% */
    width: 449px;
    margin-top: 38px;
}

.box2__content p {
    width: 275px;
    color: #FFF;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 140% */
    margin-top: 16px;
}

.box2__content button {
    width: 166px;
    height: 16px;
    flex-shrink: 0;
    margin-top: 56px;
}

.jobs {
    width: 1440px;
    height: 1041px;
    flex-shrink: 0;


    background: #F8F3F1;
}

.jobs__title {
    width: 780px;

    color: #3C3B3D;

    text-align: center;
    font-family: Roboto;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 55.88px;
    /* 127% */
    padding-top: 159px;
    margin: 0 auto;
}

.jobs__button {
    display: flex;
    width: 480px;
    height: 76px;
    padding: 16px 1px 16px 2px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin: 80px auto;
}

.trevel {
    width: 216px;
    height: 40px;
    flex-shrink: 0;

    border-radius: 20px;
    background: #124E3B;

    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.16);


    color: #FFF;
    border: none;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.88px;
    /* 143% */
    padding: 9px 80px;
    position: relative;
    z-index: 2;
}

.permanet {
    width: 470px;
    height: 43px;

    border: none;
    color: #0A0A0A;


    color: #0A0A0A;

    text-align: center;
    padding-left: 170px;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.88px;
    /* 143% */
    border-radius: 20px;
    position: relative;
    margin-left: -220px;

}

.job__mini__boxes {
    display: flex;
    gap: 154px;
    margin-left: 154px;
}

.mini__box {

    width: 278px;
    height: 320px;
    flex-shrink: 0;
}

.mini__box p {
    width: 38px;

    color: #757478;

    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    /* 100% */
    margin: 0 auto;
    margin-top: 27px;
}

.mini__box h4 {
    width: 196px;
    height: 36px;
    color: #3C3B3D;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    /* 100% */
    margin-left: 46px;
}

.job__btn {
    width: 167px;
    height: 46px;
    flex-shrink: 0;

    border-radius: 4px;
    background: #F2CDCE;
    color: #0A0A0A;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.88px;
    /* 143% */
    border: none;
    margin: 0 auto;
    margin-top: 80px;
    margin-left: 637px;
}

.logos {
    width: 1440px;
    height: 326px;
    flex-shrink: 0;
}

.logos__title {
    width: 420px;
    height: 85px;
    color: rgba(0, 0, 0, 0.87);

    text-align: center;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    /* 120% */
    margin: 100px 0;
    margin-left: 500px;
}

.information {
    width: 1440px;
    height: 933px;
    flex-shrink: 0;

    background: #FBF9F6;
}

.information__title {
    width: 732px;
    height: 56px;
    color: #3C3B3D;
    text-align: center;
    font-family: Roboto;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 55.88px;
    /* 127% */
    margin: 0 auto;
    padding-top: 159px;

}

.information__text {
    color: #3C3B3D;
    text-align: center;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 34.08px;
    /* 142% */
    margin: 0 auto;
    margin-top: 66px;
    width: 397px;
}

.information__content {
    display: flex;

}

.information__content img {
    margin-top: 69px;
    margin-left: 174px;

}

.information__text2 {
    margin-left: 210px;
}

.information__text2 h1 {
    width: 369px;
    margin-top: 169px;
    color: #3C3B3D;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
    /* 120% */
}

.information__text2 p {
    width: 430px;
    color: #3C3B3D;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28.08px;
    /* 156% */
    margin-top: 26px;

}

.installed {
    display: flex;
}

.installed__back {
    background-image: url(./img/box2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 740px;
    height: 672px;
    padding-left: 120px;
}

.installed__back h1 {
    margin-top: 167px;
    height: 76px;
    width: 462px;

    color: #FFF;

    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    /* 120% */
}

.installed__back p {
    width: 471px;
    height: 38px;
    color: #FFF;

    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 140% */
    margin-top: 38px;
}

.installed__back button {
    width: 137px;
    height: 44px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #0A0A0A;
    background: #FFF;
    padding: 9px 13px;
    margin-top: 88px;
    gap: 20px;
}
.logos2{
    width: 1440px;
height: 388px;
flex-shrink: 0;
background: #FFF;

}
.logos2 h1{
  margin: 0px auto;
  margin-top: 100px;
   height: 49px;
    width: 250px;
    color: #3C3B3D;
font-family: Roboto;
font-size: 41px;
font-style: normal;
font-weight: 700;
line-height: 44px; /* 107.317% */
}
.logos2 img{
   margin-left: 130px;
margin-top: 79px;

}
.box3{
    width: 1440px;
height: 404px;
flex-shrink: 0;
background: #124E3B;
}
.box3 h1{
    width: 805px;
height: 56px;
color: #FFF;

text-align: center;
font-family: Roboto;
font-size: 44px;
font-style: normal;
font-weight: 700;
line-height: 55.88px; /* 127% */
margin: 0 auto;
padding-top: 100px;
}
.box3 button{
    width: 146px;
height: 16px;
flex-shrink: 0;
margin-left: 647px;
margin-top: 180px;
}
.healthcare{
width: 1440px;
height: 900px;
}
.healthcare h1{
    margin: 0 auto;
    padding-top: 177px;
    color: rgba(0, 0, 0, 0.87);
text-align: center;
font-family: Roboto;
font-size: 44px;
font-style: normal;
font-weight: 700;
line-height: 55.88px; /* 127% */}
.healthcare img{
    margin-top: 80px;
    margin-left: 300px;
}
/* }
.healthcare__btns{
    margin-top: 83px;
    display: flex;
width: 800px;
height: 76px;
padding: 16.016px 32px 15.984px 32px;
justify-content: center;
align-items: flex-start;
}
.healthcare__btn1{
    width: 174px;
    height: 40px;
    flex-shrink: 0;
    
    border-radius: 15984px;
    background: #124E3B;
    
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.16);
    padding: 9px 49px;
color: #FFF;
text-align: center;
font-family: Roboto;
font-size: 16px;
/* font-style: normal;
font-weight: 400;
line-height: 22.88px; /* 143% */
/* position: relative;
z-index: +2;
border: none;
margin-left: 400px;
} */
/* .buttons{
    border-radius: 20px;
    width: 796px;
   height: 40px; 
background-color: rgb(220, 220, 220);

margin-left: -176px;
padding-left:184px;
display: flex;
flex-direction: row;
}
.healthcare__btn2{
    background-color: rgb(220, 220, 220);
    border: none;

width: 164px;
height: 40px;
flex-shrink: 0;
color: #0A0A0A;
text-align: center;
font-family: Roboto;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 22.88px; /* 152.533% */
/* border-radius: 20px;
}  */
.cards{
display: flex;
margin-top: 66px;
margin-left: 180px;
gap:190px ;
}
/* .card{

} */
.card p{
    width: 157px;
color: #3C3B3D;
font-family: Roboto;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 160% */
  }
.cards__text{
    width: 102px;
    margin-left: -10px;
    color: #3C3B3D;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 160% */
} 

